<link rel="stylesheet" href="/stylesheets/index.css" type="text/css" /> 

<div class="grid">
  <div class="test">
    {{> Messages}}
  {{# each images}}
  <div class="grid-item">
  <a href="/show/image/{{this._id}}"><img src="{{this.url}}" alt="{{this.description}}" onerror="imgError(this)" id="img" /> </a>
    <div>
      <p class="text-center desc">{{this.description}}</p>
      </div>
      <div class="info clearfix">
          <a href="/profile/{{this.user}}" ><img class="avatar" src="{{this.userAvatar}}"></a>
    {{# if ../user}}
      <a data-url=/image/{{this._id}} class="btn btn-primary imgInfo" >
          <span id="likeClass" class="{{this._id}} {{# if this.likeClass}} fa fa-heart {{else}} fa fa-heart-o {{/if}}"></span>  <span id={{this._id}}>{{this.likedBy.length}}</span> 
        </a>
        {{else}}
              <button class="btn btn-primary imgInfo disabled">
          <span class="glyphicon glyphicon-heart"></span>  <span>{{this.likedBy.length}}</span>
        </button>
        {{/if}}
      </div>
    </div>
{{/each}}
</div>
</div>

