<link rel="stylesheet" href="/stylesheets/index.css" type="text/css" /> 

<div class="grid">
    {{> Messages}}
  {{# each images}}
  <div class="grid-item">
  <a href="/show/image/{{this._id}}"><img src="{{this.url}}" alt="{{this.description}}" onerror="imgError(this)" id="img" /> </a>
    <div>
      <p class="text-center desc">{{this.description}}</p>
      </div>
      <div class="info clearfix">
          <a href="/profile/{{this.user}}" ><img class="avatar" src="{{this.userAvatar}}"></a>
    {{# if ../user}}
      <a href="/image/{{this._id}}" class="btn btn-primary imgInfo" >
          <span id="likeClass" {{# if this.likeClass}}class="fa fa-heart" {{else}} class="fa fa-heart-o" {{/if}}  aria-hidden="true"></span>  <span>{{this.likedBy.length}}</span> 
        </a>
        {{else}}
              <button class="btn btn-primary imgInfo disabled">
          <span class="glyphicon glyphicon-heart"></span>  <span>{{this.likedBy.length}}</span>
        </button>
        {{/if}}
      </div>
    </div>
{{/each}}
</div>

